* {
    margin: 0;
    padding: 0;
  }

body {
  background-color: #380874;
}

.slot-machine {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 5em;
}

.reel {
    width: 100px;
    height: 150px;
    border: 0;
    overflow: hidden;
    position: relative;
}

.reel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
}

.reel span {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
}

#spin {
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#result {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}

.total-button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}


.logo-header {
    display: flex;
    justify-content: space-between;
    background-color: #3f3b7b;
}
.logo-header-left {
  display: flex;
  align-items: center;
  color: #14a7f0;
  font-size: 1.5em;
}
.logo-header-right {
  display: flex;
  align-items: center;
  margin-right: 1vw;
}
.logo-img {
    height: 9.5vh;
    width: 5vw;
    margin: 1vh;
}
#spin, .total-button, .enter-button {
  background-color: #843fd8;
  color: #ffffff;
  border: 0;
  border-radius: 80px;
}
.enter-button {
    font-size: 1.5em;
    width: 8vw;
    height: 5vh;
    margin-left: 5vw;
}
#result {
    color: #ffffff;
}

img {
    transition: transform 0.3s ease; /* Плавный переход */
  }
  
  img:hover {
    transform: scale(1.1);
  }


.total-button:hover {
  opacity: 0.8;
  transform: scale(1.1)
}
  
.total-button:active {
  transform: scale(0.95);
}

#spin:hover {
  opacity: 0.8;
  transform: scale(1.1)
}

#spin:active {
  transform: scale(0.95);
}

.enter-button:hover {
  opacity: 0.8;
  transform: scale(1.1)
}

.enter-button:active {
  transform: scale(0.95);
}