*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(57, 28, 124);
}

header{
    background-color: #3F3B7B;
}
.logo-header {
    display: flex;
    justify-content: space-between;
    background-color: #3F3B7B;
}
.logo-header-left {
    display: flex;
    align-items: center;
    color: #14A7F0;
    font-size: 1.5em;
}
.logo-header-right {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.enter-button {
    background-color: #843FD8;
    color: #FFFFFF;
    border: 0;
    border-radius: 80px;
    font-size: 1.5em;
    width:  8vw;
    height: 5vh;
    margin-left: 5vw;
}
.logo-img {
    height: 9.5vh;
    width: 5vw;
    margin: 1vh;
}
.first{
    background-color:rgb(70, 46, 136);
}
.second{
    background-color:rgb(70, 46, 136);
}
.third{
    background-color:rgb(70, 46, 136);
}
.slotyki {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.slot {
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.boom{
    width: 10vw;
    height: 20vh;
    background-color:rgb(192, 14, 82);
    border-radius: 100px;
    display: flex; 

    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 10%;

}
.boom:hover{
    transition-duration: .5s;
    transform: scale(1.1);
    
    
}
